USE [master]
GO
/****** Object:  Database [WAREHOUSEBOOK]    Script Date: 13/11/24 7:36:39 AM ******/
CREATE DATABASE [WAREHOUSEBOOK]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WAREHOUSEBOOK', FILENAME = N'/var/opt/mssql/data/WAREHOUSEBOOK.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WAREHOUSEBOOK_log', FILENAME = N'/var/opt/mssql/data/WAREHOUSEBOOK_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WAREHOUSEBOOK].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WAREHOUSEBOOK]
GO
/****** Object:  Table [dbo].[Author]    Script Date: 13/11/24 7:36:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Author](
	[Authorcode] [uniqueidentifier] NOT NULL,
	[AuthorName] [nvarchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Authorcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 13/11/24 7:36:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[Bookcode] [uniqueidentifier] NOT NULL,
	[BookName] [nvarchar](256) NOT NULL,
	[BookGenrecode] [uniqueidentifier] NULL,
	[Suppliercode] [uniqueidentifier] NULL,
	[Authorcode] [uniqueidentifier] NULL,
	[BookPublishercode] [uniqueidentifier] NULL,
	[Quanity] [int] NULL,
	[YearOfPublication] [int] NULL,
	[ImageUrl] [varchar](750) NULL,
PRIMARY KEY CLUSTERED 
(
	[Bookcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookGenre]    Script Date: 13/11/24 7:36:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookGenre](
	[BookGenrecode] [uniqueidentifier] NOT NULL,
	[BookGenreName] [nvarchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookGenrecode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookPublisher]    Script Date: 13/11/24 7:36:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookPublisher](
	[BookPublishercode] [uniqueidentifier] NOT NULL,
	[BookPublisherName] [nvarchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookPublishercode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeliveryNote]    Script Date: 13/11/24 7:36:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveryNote](
	[DeliveryNotecode] [uniqueidentifier] NOT NULL,
	[Employeecode] [uniqueidentifier] NULL,
	[Bookcode] [uniqueidentifier] NULL,
	[Quanity] [int] NULL,
	[CreateDate] [datetime] NULL,
	[UnitPrice] [numeric](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[DeliveryNotecode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 13/11/24 7:36:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Employeecode] [uniqueidentifier] NOT NULL,
	[EmployeeName] [nvarchar](256) NOT NULL,
	[Sex] [bit] NULL,
	[Position] [nvarchar](256) NULL,
	[PhoneNumber] [varchar](11) NULL,
PRIMARY KEY CLUSTERED 
(
	[Employeecode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeRole]    Script Date: 13/11/24 7:36:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeRole](
	[EmployeeRolecode] [uniqueidentifier] NOT NULL,
	[EmployeeRoleName] [nvarchar](256) NOT NULL,
	[Employeecode] [uniqueidentifier] NULL,
	[EmployeeStatus] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeRolecode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 13/11/24 7:36:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[Suppliercode] [uniqueidentifier] NOT NULL,
	[SupplierName] [nvarchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Suppliercode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Author] ([Authorcode], [AuthorName]) VALUES (N'23527fbf-f07f-418f-81fc-2737892acac0', N'Vũ Trọng Phụng')
INSERT [dbo].[Author] ([Authorcode], [AuthorName]) VALUES (N'72a1a3fb-07bc-4a80-9795-ad8e88a92532', N'Nam Cao')
INSERT [dbo].[Author] ([Authorcode], [AuthorName]) VALUES (N'09bd8312-2901-48a4-8306-cb1dd8baebd9', N'Ngô Tất Tố')
GO
INSERT [dbo].[BookGenre] ([BookGenrecode], [BookGenreName]) VALUES (N'3c101f2b-4b88-4080-bb34-40a68d6e8394', N'Truyện ngắn')
INSERT [dbo].[BookGenre] ([BookGenrecode], [BookGenreName]) VALUES (N'67e1b1bb-00e8-494a-b16e-566cee5156a0', N'Thơ')
INSERT [dbo].[BookGenre] ([BookGenrecode], [BookGenreName]) VALUES (N'e578d51b-aef7-416a-b317-f0f0b0d67412', N'Toán học')
GO
ALTER TABLE [dbo].[Author] ADD  DEFAULT (newid()) FOR [Authorcode]
GO
ALTER TABLE [dbo].[Book] ADD  DEFAULT (newid()) FOR [Bookcode]
GO
ALTER TABLE [dbo].[BookGenre] ADD  DEFAULT (newid()) FOR [BookGenrecode]
GO
ALTER TABLE [dbo].[BookPublisher] ADD  DEFAULT (newid()) FOR [BookPublishercode]
GO
ALTER TABLE [dbo].[DeliveryNote] ADD  DEFAULT (newid()) FOR [DeliveryNotecode]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT (newid()) FOR [Employeecode]
GO
ALTER TABLE [dbo].[EmployeeRole] ADD  DEFAULT (newid()) FOR [EmployeeRolecode]
GO
ALTER TABLE [dbo].[Supplier] ADD  DEFAULT (newid()) FOR [Suppliercode]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [fk_Authorcode] FOREIGN KEY([Authorcode])
REFERENCES [dbo].[Author] ([Authorcode])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [fk_Authorcode]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [fk_BookGenrecode] FOREIGN KEY([BookGenrecode])
REFERENCES [dbo].[BookGenre] ([BookGenrecode])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [fk_BookGenrecode]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [fk_BookPublishercode] FOREIGN KEY([BookPublishercode])
REFERENCES [dbo].[BookPublisher] ([BookPublishercode])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [fk_BookPublishercode]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [fk_Suppliercode] FOREIGN KEY([Suppliercode])
REFERENCES [dbo].[Supplier] ([Suppliercode])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [fk_Suppliercode]
GO
ALTER TABLE [dbo].[DeliveryNote]  WITH CHECK ADD  CONSTRAINT [fk_Bookcode] FOREIGN KEY([Bookcode])
REFERENCES [dbo].[Book] ([Bookcode])
GO
ALTER TABLE [dbo].[DeliveryNote] CHECK CONSTRAINT [fk_Bookcode]
GO
ALTER TABLE [dbo].[DeliveryNote]  WITH CHECK ADD  CONSTRAINT [fk_Employeecode] FOREIGN KEY([Employeecode])
REFERENCES [dbo].[Employee] ([Employeecode])
GO
ALTER TABLE [dbo].[DeliveryNote] CHECK CONSTRAINT [fk_Employeecode]
GO
ALTER TABLE [dbo].[EmployeeRole]  WITH CHECK ADD  CONSTRAINT [fk_EmployeeRolecode] FOREIGN KEY([Employeecode])
REFERENCES [dbo].[Employee] ([Employeecode])
GO
ALTER TABLE [dbo].[EmployeeRole] CHECK CONSTRAINT [fk_EmployeeRolecode]
GO
USE [master]
GO
